:root {
  --themeColor: #fff;
  --textColor: rgba(0, 0, 0, 0.7);
  --headerShadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06), 0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
  --accentColor: rgba(255, 82, 82, 0.87);
  --grey: #dadce0;
  --black: rgba(0, 0, 0, 0.92);
  --blue: #1a73e8;
}

html,
body,
#root {
  color: var(--textColor);
  height: 100%;
  font-family: Roboto, Arial, sans-serif;
}

.container {
  margin: auto;
  width: 80%;
}

.title {
  color: var(--black);
  font-size: 24px;
  font-weight: 700;
}

.title-one {
  color: var(--black);
  font-size: 30px;
  font-weight: 500;
}

.input {
  position: relative;

  &:focus-within {
    .input__field {
      border-color: var(--black);
    }

    .input__label {
      color: var(--black);
      font-size: 12px;
      top: -5px;
      z-index: 1;
    }
  }

  &.error {
    .input__field {
      border-color: var(--accentColor);
    }

    .input__label,
    .input__label:not(:placeholder-shown),
    &::after {
      color: var(--accentColor);
    }
  }

  &::after {
    bottom: -15px;
    content: attr(data-error);
    font-size: 12px;
    position: absolute;
  }
}

.input__field {
  background-color: transparent;
  border: 1px solid var(--grey);
  border-radius: 5px;
  display: block;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 700;
  padding: 15px 10px;
  position: relative;
  transition: all 0.15s;
  width: 100%;
  z-index: 1;

  &::placeholder {
    opacity: 0;
  }

  &:not(:placeholder-shown) ~ .input__label {
    color: var(--black);
    font-size: 12px;
    top: -5px;
    z-index: 1;
  }
}

.input__date {
  padding-bottom: 13px;
  padding-top: 13px;
}

.input__label {
  background-color: var(--themeColor);
  color: var(--textColor);
  font-size: 16px;
  font-weight: 500;
  display: block;
  left: 7px;
  padding: 0 2px;
  position: absolute;
  top: 17px;
  transition: all 0.15s;
  z-index: 0;
}

.btn {
  background-color: var(--blue);
  border-radius: 5px;
  color: var(--themeColor);
  display: block;
  font-weight: 700;
  padding: 10px 20px;

  &:focus {
    outline: 1px solid var(--blue);
  }
}

.btn-danger {
  background-color: var(--accentColor);
}
